/* Built-in classes */
.root {
    -fx-accent: #1e74c6;
    /*-fx-focus-color: -fx-accent;*/
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

*:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.scroll-bar {
    -fx-background-color: derive(-fx-base,45%)
}

.label {
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.button {
    -fx-focus-traversable: false;
}

.button:default {
    -fx-base: -fx-accent ;
}

.button:hover{
    -fx-text-fill: white;
}

.check-box {
    -fx-padding: 0 4 0 0;
}

.hyperlink {
    -fx-text-fill: #8af5ff;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-background-color: transparent;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

/* Custom classes */
.aboutTitle {
    -fx-font-size: 18;
}

.aboutText {
    -fx-font-size: 14;
}
